In [2]:
import pandas as pd
import pickle

In [38]:
%pwd

'/home/muhliscm/Desktop/data_engineering/data science/dsProjects/telecome_churn_prediction'

In [37]:
# Load the model from a file
with open('model.pkl', 'rb') as f:
    model = pickle.load(f)

In [18]:
# testing with original dataset
df = pd.read_csv("churn_original.csv")

df["TotalCharges"] = pd.to_numeric(df["TotalCharges"], errors='coerce')

In [19]:
df.drop(columns="customerID", axis=1, inplace=True)

In [20]:
df.to_csv('for_prediction.csv', index=False)

In [3]:
df = pd.read_csv('for_prediction.csv')

In [4]:
df.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
2,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [7]:
df.columns

Index(['gender', 'SeniorCitizen', 'Partner', 'Dependents', 'tenure',
       'PhoneService', 'MultipleLines', 'InternetService', 'OnlineSecurity',
       'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV',
       'StreamingMovies', 'Contract', 'PaperlessBilling', 'PaymentMethod',
       'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [8]:
len(df.columns)

20

In [9]:
df_dummies = pd.get_dummies(df, drop_first=True)

In [26]:
df_dummies.dropna(inplace=True)

In [27]:
df_dummies.head()

,SeniorCitizen,tenure,MonthlyCharges,TotalCharges,gender_Male,Partner_Yes,Dependents_Yes,PhoneService_Yes,MultipleLines_No phone service,MultipleLines_Yes,...,StreamingTV_Yes,StreamingMovies_No internet service,StreamingMovies_Yes,Contract_One year,Contract_Two year,PaperlessBilling_Yes,PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,Churn_Yes
0,0,1,29.85,29.85,0,1,0,0,1,0,...,0,0,0,0,0,1,0,1,0,0
1,0,34,56.95,1889.50,1,0,0,1,0,0,...,0,0,0,1,0,0,0,0,1,0
2,0,2,53.85,108.15,1,0,0,1,0,0,...,0,0,0,0,0,1,0,0,1,1
3,0,45,42.30,1840.75,1,0,0,0,1,0,...,0,0,0,1,0,0,0,0,0,0
4,0,2,70.70,151.65,0,0,0,1,0,0,...,0,0,0,0,0,1,0,1,0,1

In [28]:
# creating dependent and independent variables sets
X = df_dummies.drop(["Churn_Yes"], axis=1)
y = df_dummies["Churn_Yes"].values

In [31]:
len(model.predict(X))

7032

In [10]:
df.select_dtypes("O").columns

Index(['gender', 'Partner', 'Dependents', 'PhoneService', 'MultipleLines',
       'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection',
       'TechSupport', 'StreamingTV', 'StreamingMovies', 'Contract',
       'PaperlessBilling', 'PaymentMethod', 'Churn'],
      dtype='object')

In [11]:
cat_columns = ['gender', 'Partner', 'Dependents', 'PhoneService', 'MultipleLines',
               'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection',
               'TechSupport', 'StreamingTV', 'StreamingMovies', 'Contract',
               'PaperlessBilling', 'PaymentMethod']

In [16]:
for col in cat_columns:
    print(col)
    print(df[col].unique())
    print("_________")

gender
['Female' 'Male']
_________
Partner
['Yes' 'No']
_________
Dependents
['No' 'Yes']
_________
PhoneService
['No' 'Yes']
_________
MultipleLines
['No phone service' 'No' 'Yes']
_________
InternetService
['DSL' 'Fiber optic' 'No']
_________
OnlineSecurity
['No' 'Yes' 'No internet service']
_________
OnlineBackup
['Yes' 'No' 'No internet service']
_________
DeviceProtection
['No' 'Yes' 'No internet service']
_________
TechSupport
['No' 'Yes' 'No internet service']
_________
StreamingTV
['No' 'Yes' 'No internet service']
_________
StreamingMovies
['No' 'Yes' 'No internet service']
_________
Contract
['Month-to-month' 'One year' 'Two year']
_________
PaperlessBilling
['Yes' 'No']
_________
PaymentMethod
['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)']
_________